---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
ColumnLimit: 0
IndentCaseLabels: false
IndentWidth: 4
TabWidth: 4
UseTab: 'Never'
SortIncludes: false
